<h1>Welcome, <%= user.name %>!</h1>
<form action="/upload">
    <input type="text">
    <button type="submit">Upload</button>
</form>
<form action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>
